<div class="modal fade" id="userInfoModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your information</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="informationForm">
          <div class="form-group">
            <label for="name">Name : <small id="name"></small></label>
          </div>
          <div class="form-group">
            <label for="username"
              >Username : <small id="username"></small
            ></label>
          </div>
          <div class="form-group">
            <label for="vdaIP">Ip : <small id="vdaIP"></small></label>
          </div>
          <div class="form-group">
            <label for="hostname"
              >Hostname : <small id="hostname"></small
            ></label>
          </div>
          <div class="form-group">
            <label for="email">Email: <small id="email"></small></label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="display-4 text-capitalize">
    <!-- Hello {{ currentUser.name }}! -->
    <button
      class="btn btn-outline-primary"
      data-toggle="modal"
      data-target="#userInfoModal"
    >
      User Info
    </button>
  </h2>
  <p>
    The information gets updated every 10 seconds.
    <a
      id="toggleAutoRefresh"
      onclick="monito.refresh.update(this.innerHTML)"
      href="#"
      >Enable</a
    >
    auto refresh
  </p>
</div>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a
      class="nav-item nav-link active"
      id="nav-myMachines-tab"
      data-toggle="tab"
      href="#nav-myMachines"
      role="tab"
      aria-controls="nav-myMachines"
      aria-selected="false"
      >My machines <span id="allocatedCounter" class="badge badge-dark"></span
    ></a>
    <a
      class="nav-item nav-link"
      id="nav-allMachines-tab"
      data-toggle="tab"
      href="#nav-allMachines"
      role="tab"
      aria-controls="nav-allMachines"
      aria-selected="true"
      >Free machines <span id="freeCounter" class="badge badge-dark"></span
    ></a>
    <a
      class="nav-item nav-link"
      id="nav-otherMachines-tab"
      data-toggle="tab"
      href="#nav-otherMachines"
      role="tab"
      aria-controls="nav-allMachines"
      aria-selected="true"
      >Other machines
      <span id="otherMachinescounter" class="badge badge-dark"></span
    ></a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div
    class="tab-pane fade show active"
    id="nav-myMachines"
    role="tabpanel"
    aria-labelledby="nav-myMachines-tab"
  >
    <table class="table table-striped text-center" id="myMachinesView">
      <thead class="exempted-headers">
        <tr>
          <th>Machine</th>
          <th>Owner</th>
          <th>Active User(s)</th>
          <th style="text-align:center">Actions</th>
        </tr>
      </thead>
    </table>
  </div>
  <div
    class="tab-pane fade"
    id="nav-allMachines"
    role="tabpanel"
    aria-labelledby="nav-allMachines-tab"
  >
    <table class="table table-striped text-center" id="allMachinesView">
      <thead class="exempted-headers">
        <tr>
          <th style="text-align:center">Machine</th>
          <th style="text-align:center">Owner</th>
          <th style="text-align:center">Active User(s)</th>
          <th style="text-align:center">Actions</th>
        </tr>
      </thead>
    </table>
  </div>
  <div
    class="tab-pane fade"
    id="nav-otherMachines"
    role="tabpanel"
    aria-labelledby="nav-allMachines-tab"
  >
    <table class="table table-striped text-center" id="otherMachinesView">
      <thead class="exempted-headers">
        <tr>
          <th style="text-align:center">Machine</th>
          <th style="text-align:center">Owner</th>
          <th style="text-align:center">Active User(s)</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
