/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.monito-flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
