<footer class="footer">
  <img
    class="mb-2"
    src="/assets/images/favicon-32x32.png"
    alt=""
    width="24"
    height="24"
  />
  <small class="d-block mb-3 text-muted">© 2017-2019</small>
  <h5>More information</h5>
  <ul class="list-unstyled text-small">
    <li>
      <a class="p-2" href="mailto:{{ author }}?Subject=Monito%20Feedback"
        >Contact</a
      >
    </li>
    <li><a class="p-2" href="/about">About</a></li>
  </ul>
  <h5>Contribute</h5>
  <ul class="list-unstyled text-small">
    <li>
      <a class="p-2" href="https://github.com/raul1991/monito">github/monito</a>
    </li>
    <li>
      <a class="p-2" href="https://github.com/raul1991/monito/issues/new"
        >Raise issues</a
      >
    </li>
  </ul>
  <h5>Appreciate</h5>
  <ul class="list-unstyled text-small">
    <li>
      <a
        class="github-button"
        href="https://github.com/raul1991/monito"
        data-size="large"
        aria-label="Star raul1991/monito on GitHub"
        >Star me on github</a
      >
    </li>
  </ul>
</footer>
