<div class="container">
  <div class="row monito-login-wrapper justify-content-center">
    <div class="col-md-6 col-sm-6 col-lg-6">
      <div class="logo-wrapper">
        <img
          src="/assets/images/Monito-1-dark.png"
          height="40"
          width="150"
          alt="Monito"
        />
      </div>
      <p class="lead">
        Monito is a simple server monitoring solution for machines sharing a
        network. It displays the current status of the machine and its active
        users. It was developed by
        <a href="https://raul1991.github.io" target="_blank">Rahul Bawa</a> and
        <a href="https://www.behance.net/Ramzie" target="_blank"
          >Raman Mangla</a
        >
        in 2018.
      </p>
    </div>
  </div>
</div>
