<!DOCTYPE html>
<html lang="en">
<body>
{% extends 'server/base.html' %}
{% block navbar %}
<!-- nav bar begins -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <a href="/"><img src="/static/images/Monito-1-dark.png" height="40" width="150"></a>
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="mailto:{{author}}?Subject=Monito%20Feedback">Contact</a>

        {% if session.user_name %}
        <a class="btn btn-outline-primary" href="/">Logout</a>
        {% else %}
        <a class="btn btn-outline-primary text-uppercase" href="/register">Signup</a>
        <a class="btn btn-outline-primary text-uppercase" href="/">Login</a>
        {% endif %}
    </nav>
</div>
<!-- nav bar ends -->
{% endblock %}


{% block form_body %}
<div class="content">
    <p class="lead">
        Monito is a simple server monitoring solution for machines sharing a network. It displays the current status
        of the machine and its active users. It was developed by
        <a href="https://raul1991.github.io" target="_blank">Rahul Bawa</a> and
        <a href="https://www.behance.net/Ramzie" target="_blank">Raman Mangla</a> in 2018.
    </p>
</div>
{% endblock %}
</body>
</html>
