{% extends "_base.html" %}
{% block title %}About Monito.{% endblock %}
{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="static/css/about.css">
{% endblock %}

{% block body %}
    <header>
        <div>
            <div class = "navigation">
                <div class = "menu" onclick = "monito.displayMenu()">
                    <div>
                        <div class = "bar"></div>
                        <div class = "bar"></div>
                        <div class = "bar"></div>
                    </div>
                    <span>MENU</span>
                </div>
                <nav>
                    <a href = "/about">ABOUT</a>
                    <a href = "/">LOGIN</a>
                    <a href = "/register">REGISTER</a>
                </nav>
            </div>
        </div>
    </header>
    <section>
        <div class = "content">
            <div class = "logo">
                <img src="static/images/Monito-1-light.png">
            </div>
            <p>
                Monito is a simple server monitoring solution for machines sharing a network. It displays the current status of the machine and its active users. It was developed by Raman Mangla and Rahul Bawa in 2018.
            </p>
        </div>
    </section>
{% endblock %}
