<!DOCTYPE html>
<html lang="en">
<body onload="monito.init();">
{% extends 'server/base.html' %}

{% block navbar %}
<!-- modal for user info -->
<div class="modal fade" id="userInfoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Your information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="informationForm">
                    <div class="form-group">
                        <label for="name">Name : <small id="name">{{currentUser.name}}</small></label>
                    </div>
                    <div class="form-group">
                        <label for="name">Username : <small id="username">{{currentUser.username}}</small></label>
                    </div>
                    <div class="form-group">
                        <label for="name">Ip : <small id="vdaIP">{{currentUser.vdaIP}}</small></label>
                    </div>
                    <div class="form-group">
                        <label for="name">Hostname : <small id="hostname">{{currentUser.hostname}}</small></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modal for user info ends here -->

<!-- nav bar begins -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <img src="/static/images/Monito-1-dark.png" height="40" width="150">
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="mailto:{{author}}?Subject=Monito%20Feedback">Contact</a>
    </nav>
    <a class="btn btn-outline-primary" href="/">Logout</a>
</div>
<!-- nav bar ends -->
{% endblock %}

{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="display-4 text-capitalize">Hello {{ currentUser.name }}!
        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#userInfoModal">User Info</button>
    </h2>
    <p>The information gets updated every 10 seconds.
        <a id="toggleAutoRefresh" onclick="monito.refresh.update(this.innerHTML)" href="#">Enable</a> auto refresh
    </p>
</div>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-myMachines-tab" data-toggle="tab" href="#nav-myMachines"
           role="tab" aria-controls="nav-myMachines" aria-selected="false">My machines <span id="allocatedCounter" class="badge badge-dark"></span></a>
        <a class="nav-item nav-link" id="nav-allMachines-tab" data-toggle="tab" href="#nav-allMachines"
           role="tab" aria-controls="nav-allMachines" aria-selected="true">Free machines <span id="freeCounter" class="badge badge-dark"></span></a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-myMachines" role="tabpanel" aria-labelledby="nav-myMachines-tab">
        <table class="table table-striped text-center" id="myMachinesView">
            <thead>
            <tr>
                <th>Machine</th>
                <th>Owner</th>
                <th>Active User(s)</th>
                <th style="text-align:center">Actions</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tab-pane fade" id="nav-allMachines" role="tabpanel"
         aria-labelledby="nav-allMachines-tab">
        <table class="table table-striped text-center" id="allMachinesView">
            <thead>
            <tr>
                <th style="text-align:center">Machine</th>
                <th style="text-align:center">Owner</th>
                <th style="text-align:center">Active User(s)</th>
                <th style="text-align:center">Actions</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<!-- Scripts -->
<script defer type="text/javascript" src="static/js/gui.js"></script>
<script defer type="text/javascript" src="static/js/requests.js"></script>
<script defer type="text/javascript" src="static/js/cookie.js"></script>
<script defer type="text/javascript" src="static/js/preferences.js"></script>
<script defer type="text/javascript" src="static/js/main.js"></script>
{% endblock %}
</body>
</html>
