<!DOCTYPE html>
<html lang="en">
{% extends 'server/base.html' %}
{% block img_navbar %}<img src="/static/images/favicon-32x32.png">{% endblock %}
{% block form_body %}
<form action="/" method="post">
    <div class="form-group">
        <label for="username">Signum</label>
        <input class="form-control" type="username" id="username" aria-describedby="usernamehelp"
               placeholder="Enter your username" name="username">
    </div>
    <label>{{ SERVER_ERROR }}</label>
    <button type="submit" class="btn btn-block btn-outline-primary">Submit</button>
</form>
{% endblock %}
</html>
