{% extends "_base.html" %}
{% block title %}Monito.{% endblock %}
{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="static/css/login.css">
{% endblock %}

{% block body %}
<header>
    <div>
        <div class="navigation">
            <div class="menu" onclick="monito.displayMenu()">
                <div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <span>MENU</span>
            </div>
            <nav>
                <a href="/about" class="topLink">ABOUT</a>
                <a href="/">LOGIN</a>
                <a href="/register">REGISTER</a>
            </nav>
        </div>
    </div>
</header>
<section>
    <div class="loginBox">
        <div class="logo">
            <img src="static/images/Monito-1-light.png">
        </div>
        <form method="POST" action="/">
            <div>
                <label for="username">USERNAME</label>
                <input type="text" id="username" name="username" placeholder="signum" required>
            </div>
            <label>{{ SERVER_ERROR }}</label>
            <button type="submit">Login</button>
        </form>
    </div>
</section>
{% endblock %}
