<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Register with Monito.</title>

	<!-- Stylesheet -->
	<link rel="stylesheet" type="text/css" href="static/main.css">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/Icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/Monito.png">
	<link rel="manifest" href="/static/Icons/site.webmanifest">
	<link rel="mask-icon" href="/static/Icons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/static/Monito.png">
	<meta name="apple-mobile-web-app-title" content="Monito.">
	<meta name="application-name" content="Monito.">
	<meta name="msapplication-TileColor" content="#00aba9">
	<meta name="msapplication-config" content="/static/Icons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
	<header>
		<div>
			<a href = "https://www.ericsson.com/en" target = "_blank" class = "ericsson">
				<img src = "static/ericsson-logo.png">
			</a>
			<div class = "navigation">
				<div class = "menu" onclick = "displayMenu()">
					<div>
						<div class = "bar"></div>
						<div class = "bar"></div>
						<div class = "bar"></div>
					</div>
					<span>MENU</span>
				</div>
				<nav>
					<a href = "/about">ABOUT</a>
					<a href = "/">LOGIN</a>
					<a href = "/register">REGISTER</a>
				</nav>
			</div>
		</div>

	<!-- Favicon -->
	<link rel="icon" type="image" href="static/Monito.png">
	</header>
	<section>
		<div class = "loginBox">
			<div class = "logo">
				<img src="static/Monito-1-light.png">
			</div>
			<form action = "/register" method = "POST">
				<div>
					<label for = "name">NAME</label>
	    			<input type = "text" id = "name" name = "user_name" placeholder = "full name" pattern="^[a-zA-Z ]+$" required>
				</div>
				<div>
					<label for = "username">USERNAME</label>
	    			<input type = "text" id = "username" name = "username" placeholder = "signum" pattern="^[a-zA-Z]{5,15}$" required>
				</div>
				<div>
					<label for = "email">EMAIL</label>
	    			<input type = "email" id = "email" name = "user_email" placeholder = "signum@ericsson.com" required>
				</div>
				<div>
					<label for = "vda-ip">VDA-IP</label>
	    			<input type = "text" id = "vda-ip" name = "user_vda-ip" placeholder = "xxx.xxx.xx.x" pattern = "^[0-9.]+$" required>
				</div>
				<div>
					<label for = "hostname">HOSTNAME</label>
	    			<input type = "text" id = "hostname" name = "user_hostname" placeholder = "Run hostname on cmd" required>
				</div>
				<label>{{ SERVER_ERROR }}</label>
				<button type="submit">Register</button>
			</form>
		</div>
	</section>

	<!-- Scripts -->
	<script type="text/javascript" src="static/main.js"></script>
</body>
</html>