<!DOCTYPE html>
<html lang="en">
{% extends 'server/base.html' %}
{% block img_navbar %}<img src="/static/images/favicon-32x32.png">{% endblock %}
{% block form_body %}
<form action="/register" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" name="user_name" placeholder="full name"
               pattern="^[a-zA-Z ]+$" required>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="signum"
               pattern="^[a-zA-Z]{5,15}$"
               required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="email address"
               required>
    </div>
    <div class="form-group">
        <label for="vda-ip">Static Ip address</label>
        <input type="text" id="vda-ip" name="user_vda-ip" class="form-control" placeholder="xxx.xxx.xx.x"
               pattern="^[0-9.]+$"
               required>
        <small>A static ip with which you'll access servers</small>
    </div>
    <div class="form-group">
        <label for="hostname">Hostname</label>
        <input type="text" id="hostname" name="user_hostname" class="form-control" placeholder="Run `hostname` command"
               required>
    </div>
    <label>{{ SERVER_ERROR }}</label>
    <button class="btn btn-block btn-outline-primary" type="submit">Register</button>
</form>
{% endblock %}
</html>
