<!DOCTYPE html>
<html lang="en">
  <body>
    <!-- nav bar  -->
    <app-top-bar></app-top-bar>
    <!-- Main Content -->
    <div class="fluid-container" style="padding-top: 30px;">
      <div class="container">
        <!-- <div class=" row justify-content-center">
          <img
            src="/assets/images/Monito-1-dark.png"
            width="250"
            height="70"
            alt="Monito"
          />
        </div> -->

        <!-- Routed components here -->
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>

<!-- Scripts
    <script src="/static/js/vendor/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/vendor/popper.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    Place this tag in your head or just before your close body tag.
    <script async defer src="/static/js/vendor/github_buttons.js"></script>
    <script type="text/javascript" src="/static/js/helpers.js"></script> -->
